* {
		font-family: "Inter", "Ariel", "Helvetica", sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

:root {
		--main-bg: #F1F6F9;
		--blue-1: #394867;
		--blue-2: #212A3E;
		--gray: #4b5563;
 		--gray-1: #e5e7eb;
		--font-mono: "Roboto Mono", Monospace;
}


h1,h2,h3 {
		color: var(--blue-2);
}

h2 {
		font-size: 1.8rem;
}


html {
		font-size: 16px;
}

body {
		background-color: var(--main-bg);
		width: 90%;
		max-width: 750px;
		margin: 0 auto;
}

.hero {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-block: 1.6rem;
		gap: 1rem;
}

.hero h1 {
		font-size: 2.5rem;
}

.hero--logo {
		width: 35px;
		height: 35px;
		fill: #facc15;
}

.hero p {
		color: var(--blue-1);
		text-align: center;
		max-width: 40ch;
}


.show {
		display: flex;
		flex-direction: column;
		margin-top: 1.2rem;
}

.show__bar {
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: .2rem;

		font-family: var(--font-mono);
}

.show__bar span {
		font-family: var(--font-mono);
		color: var(--gray);
}

.show__editable {
		font-family: var(--font-mono);
		flex: 30%;
		min-width: 100%;
		overflow-y: hidden;
		word-wrap: nowrap;
		color: var(--blue-2);
}

.show__fetch {
		all: unset;
		font-size: .9rem;
		letter-spacing: -1px;
		background-color: var(--blue-1);
		color: white;
		height: 25px;
		width: 100%;
		border-radius: 3px;
		align-self: center;
		text-align: center;
		padding: .2rem;
		cursor: pointer;
		transition: transform ease 1s;
}


.show__fetch:active {
		transform: scale(.85);
}

.show__fetch:focus {
		background-color: var(--blue-2);
}

.show__output {
		height: 12rem;
		max-width: 100%;
		padding: .3rem;
		overflow: scroll;
		border-radius: 3px;
		background-color: var(--gray-1);
		color: var(--gray);
		font-family: var(--font-mono);
		margin-top: 1rem;
		white-space: pre;
}

.show__info {
		display: flex;
		flex-direction: column;
		gap: .3rem;
		margin-bottom: .5rem;
}

.show__info p {
		color: var(--gray);
		line-height: 1.5;
}

.show__form {
	width: 100%;
	margin-top: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}

.split-view {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: .5rem;
}

.show__form > div {
	align-items: center;
	display: flex;
	gap: 1rem;
}

.show__form > div > label {
	color: var(--gray);
}

.show__form > div > input {
	flex: 100%;
	padding: .2rem;
}

.show__form > textarea {
	width: 100%;
	resize: vertical;
	height: 12rem;
	padding-top: .5rem;
	overflow: scroll;
	padding-left: .5rem;
font-size: .9rem;

}

@media screen and (min-width: 600px) {
		.show__bar {
				flex-direction: row;
				align-items: center;
		}

		.show__editable {
				min-width: auto;
		}

		.show__fetch {
				width: auto;
				padding: .5rem;
				height: 30px;
		
		width: 40px;
		}


.split-view div {
	width: 50%;
}

.split-view {
	display: flex;
	flex-direction: row;
	gap: .5rem;
margin-bottom: 2rem;
}
}

.btn--disabled {
		opacity: .8;
		cursor: not-allowed;
}

.loader {
    width: 19px;
    height: 19px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


.fork-on-gh {
		position: absolute;
		top:0;
		right: 0;
}
